@import "../../node_modules/@angular/material/prebuilt-themes/indigo-pink.css"
@import "bootstrap.css"
@import "~bootstrap-icons/font/bootstrap-icons.css"
/* CUSTOM WIDTHS */
/* BREAKPOINTS */
/* SM breakpoint */
/* CUSTOM WIDTHS */
/* MD breakpoint*/
/* CUSTOM WIDTHS */
/* LG breakpoint */
/* CUSTOM WIDTHS */

html
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  height: 100%
  ::selection
    background-color: #ffffff00
  ::-moz-selection
    background-color: #ffffff00
  ::-webkit-selection
    background-color: #ffffff00
  ::-ms-selection
    background-color: #ffffff00
  ::-o-selection
    background-color: #ffffff00
body
  height: 100%
  margin: 0
  font-family: Roboto, "Helvetica Neue", sans-serif
  background-color: #e8c39e9c
  overflow-x: auto
  overflow-y: hidden

.w-10
  width: 10% !important

.w-xs-10
  width: 10% !important

.w-15
  width: 15% !important

.w-xs-15
  width: 15% !important

.w-20
  width: 20% !important

.w-xs-20
  width: 20% !important

@media (min-width: 576px)
  .w-sm-10
    width: 10% !important

  .w-sm-15
    width: 15% !important

  .w-sm-20
    width: 20% !important

@media (min-width: 768px)
  .w-md-10
    width: 10% !important

  .w-md-15
    width: 15% !important

  .w-md-20
    width: 20% !important

  .w-md-50
    width: 50% !important

@media (min-width: 992px)
  .w-lg-10
    width: 10% !important

  .w-lg-15
    width: 15% !important

  .w-lg-20
    width: 20% !important

.cpb
  background-color: #3e3f3a !important

.csb
  background-color: #ffffff9c !important
  border-radius: 0px !important
  box-shadow: 0px 0px 0px 0px #00000000 !important
