<div
  class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100 "
  style="width: 240px"
>
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <i class="bi bi-kanban-fill"></i>
    &nbsp;
    &nbsp;
    <span class="fs-4">Gestor TEST</span>
  </a>
  <hr />

  <!-- links para rutas de sidebar -->
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="/empleados" class="nav-link text-white " aria-current="page">
        <i class="bi bi-list-check"></i>
        &nbsp;
        Listado
      </a>
    </li>
    &nbsp;
    <li class="nav-item">
      <a href="/crear-empleado" class="nav-link text-white " aria-current="page">
        <i class="bi bi-person-lines-fill"></i>
        &nbsp;
        Registrar
      </a>
    </li>
    &nbsp;
    <li>
      <a href="/empleados" class="nav-link text-white">
        <i class="bi bi-speedometer"></i>
        &nbsp;
        Dashboard
      </a>
    </li>
    &nbsp;
    <li>
      <a href="/empleados" class="nav-link text-white">
        <i class="bi bi-gear-fill"></i>
        &nbsp;
        Configuraciones
      </a>
    </li>
  </ul>
</div>
